data/
tmp/
report/Bachelier\ poster.aux
report/Bachelier\ poster.fdb_latexmk  
report/Bachelier\ poster.toc
report/Bachelier\ poster.fls
report/Bachelier\ poster.xdv
report/Bachelier\ poster.log
report/Bachelier\ poster.nav
report/Bachelier\ poster.out
report/notes.txt
report/Bachelier\ poster.pdf
report/Bachelier\ poster.snm
report/toignore.txt
report/Bachelier\ poster.synctex.gz
